<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">الوظائف</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="example-form">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        List Of Leaves
                    </mat-card-title>
                </mat-card-header>

            </mat-card>

            <section fxLayout fxLayoutAlign="space-between ">
                <div>
                    <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search">
                    </mat-form-field>
                </div>
                <button *ngIf="this.New" mat-raised-button color="primary" [routerLink]="['/defaultPage/addOrEditLeaves/0']"
                    matTooltip=" Add New Leaves" matTooltipClass="example-tooltip-red"
                    aria-label="Button that shows a red tooltip" class="example-button">
                    <mat-icon>add_box</mat-icon>New Leaves
                </button>
            </section>


            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="Id">
                    <th hidden mat-header-cell *matHeaderCellDef mat-sort-header>
                        Id
                    </th>
                    <td hidden mat-cell *matCellDef="let element"> {{element.Id}} </td>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Name
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                </ng-container>
                <ng-container matColumnDef="Alis">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Alis
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.Alis}} </td>
                </ng-container>

                <ng-container matColumnDef="Issub">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Issub
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.Issub == true ? 'Yse':'No'}} </td>
                </ng-container>
                <ng-container matColumnDef="AcceptVac">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        AcceptVac
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.AcceptVac == true ? 'Yse':'No'}}


                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        actions
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon *ngIf="this.edit" class="green-icon" (click)="addOrEditLeaves(element.Id)">edit</mat-icon>
                        <mat-icon *ngIf="this.delete" class="red-icon" (click)="Delete(element)">delete</mat-icon>
                    </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="colums"></tr>
                <tr mat-row *matRowDef="let row; columns: colums;"></tr>
            </table>
            <mat-paginator [length]="leaves.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
    </div>
</div>