<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">البنوك</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="example-form">
            <mat-card>
                <mat-card-header>
        <mat-card-title>
            قائمة البنوك
        </mat-card-title>
                </mat-card-header>
              
            </mat-card>
        
            <section fxLayout fxLayoutAlign="space-between ">
                <div>
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search">
            </mat-form-field>
                 </div>
                 <button *ngIf="this.New" mat-raised-button color="primary" [routerLink]="['/defaultPage/addOrEditbus/0']"
                 matTooltip=" Add New Bus"
                 matTooltipClass="example-tooltip-red"
                 aria-label="Button that shows a red tooltip"
                 class="example-button">
                 <mat-icon>add_box</mat-icon>New Bus
         </button>
             </section>
        
         
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="Id">
                    <th hidden mat-header-cell *matHeaderCellDef mat-sort-header>
                        Id
                    </th>
                    <td hidden mat-cell *matCellDef="let element"> {{element.Id}} </td>
                </ng-container>
                <ng-container matColumnDef="Enname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        كود البنك
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.Enname}} </td>
                </ng-container>
                <ng-container matColumnDef="Arname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        اسم بنك
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.Arname}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        actions
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon   class="mat-icon blue-icon" (click)="view(element.Id,false)" >visibility</mat-icon>
                        <mat-icon *ngIf="this.edit" class="green-icon" (click)="addOrEditBus(element.Id)" >edit</mat-icon>
                        <mat-icon *ngIf="this.delete" class="red-icon" (click)="Delete(element)">delete</mat-icon>
                    </td>
        
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="colums"></tr>
                <tr mat-row *matRowDef="let row; columns: colums;"></tr>
            </table>
            <mat-paginator [length]="buses.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
    </div>
</div>

