<div class="example-form">
    <form [formGroup]="transactionForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <span *ngIf="this.transactionid==0">
              add          
            </span>
            <span *ngIf="this.transactionid!=0">
              edit          
            </span>transaction          
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex">
            <mat-form-field>
              <mat-label>Employee</mat-label>
              <mat-select [(ngModel)]="this.holidayArr.employeesId" formControlName="employeesId">
                <mat-option *ngFor="let employee of employees" [value]="employee.Id">
                  {{employee.EmpName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>From date</mat-label>
              <input matInput [matDatepicker]="picker1" [(ngModel)]="this.holidayArr.From" formControlName="From"
                required>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-label>To date</mat-label>
              <input matInput [matDatepicker]="picker2" [(ngModel)]="this.holidayArr.To" formControlName="To" required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="flex">
            <mat-form-field>
              <mat-label>Leaves Types</mat-label>
              <mat-select [(ngModel)]="this.holidayArr.LeaveId" formControlName="LeaveId">
                <mat-option *ngFor="let Type of leavesTypes" [value]="Type.Id">
                  {{Type.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Value</mat-label>
              <input matInput type="number" [(ngModel)]="this.holidayArr.Value" placeholder="Value"
                formControlName="Value">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Leave a note</mat-label>
              <textarea matInput placeholder="note..." formControlName="Note"
                [(ngModel)]="this.holidayArr.Note"></textarea>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!transactionForm.valid" (click)="addorEditTransaction()">save</button>
          <button mat-raised-button color="warn" (click)="clear()">Clear</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>