<div class="example-form">
    <form [formGroup]="sectionForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <span *ngIf="this.SectionId==0">
              Add New
            </span>
            <span *ngIf="this.SectionId!=0">
              Edit
            </span>  Section
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Arabic Name</mat-label>
                <input matInput type="text" placeholder="Arabic Name"  [(ngModel)]="this.sectionArr.Arname"  formControlName="Arname" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>English Name</mat-label>
                <input matInput type="text" placeholder="English Name"  [(ngModel)]="this.sectionArr.Enname"  formControlName="Enname" required>
              </mat-form-field>
  
      
  
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!sectionForm.valid" (click)="createOrEditSection()">Save</button>
          <button mat-raised-button color="warn" (click)="clear()">Clear</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>