.content {
    padding-top: 50px;
  }
  
  .icon {
    margin-left: 10px;
    cursor: grab;
  }
  
  .container {
    margin: 20px;
  }
  
  
  
  section {
    margin-top: 20px;
  }
  
  
  
  button {
    height: 40px;
  }
  
  table {
    width: 100%;
  }
  
  
  .green-icon {
    color: green;
  }
  
  .red-icon {
    color: red;
  }
  
  .example-form {
    margin: 20px;
  }
  
  .page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
  }
  
  .page__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  
  .page__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: rgb(212, 209, 209);
    color: black;
    font-size: 2rem;
  
  }
  
  .page__content-data {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  mat-card {
    padding-bottom: 50px;
    ;
  }
  mat-card-title {
    color: cornflowerblue;
  }
  mat-form-field {
  
    width: 50%;
    display: block;
  }
  
  mat-card-actions {
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
  }