
<div class="example-form">
    <form [formGroup]="shiftForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <span *ngIf="this.shiftId==0">
              اضافة
            </span>
            <span *ngIf="this.shiftId!=0">
              تعديل
            </span>  وردية
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>كود البنك</mat-label>
            <input matInput type="text" placeholder="English Name"  [(ngModel)]="this.shiftArr.Enname"  formControlName="Enname" required>
          </mat-form-field>
            <mat-form-field>
                <mat-label>اسم البنك</mat-label>
                <input matInput type="text" placeholder="Arabic Name"  [(ngModel)]="this.shiftArr.Arname"  formControlName="Arname" required>
              </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!shiftForm.valid" (click)="createOrEditShift()">حفظ</button>
          <button mat-raised-button color="warn" (click)="clear()">Clear</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>