<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">الورديات</div>
  <div class="page__content shadow p-3 position-relative">
      <div class="example-form">
    <form [formGroup]="shiftForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <span *ngIf="this.shiftId==0">
              اضافة
            </span>
            <span *ngIf="this.shiftId!=0">
              تعديل
            </span>  وردية
          </mat-card-title>
        </mat-card-header>
        <button type="button" class="btn btn-primary" (click)="Backtolist()"> <mat-icon>fast_rewind</mat-icon> </button>
        <mat-card-content class="content">
          <mat-form-field>
            <mat-label>كود البنك</mat-label>
            <input [readonly]="this.button==false" matInput type="text" placeholder="English Name"  [(ngModel)]="this.shiftArr.Enname"  formControlName="Enname" required>
          </mat-form-field>
            <mat-form-field>
                <mat-label>اسم البنك</mat-label>
                <input [readonly]="this.button==false" matInput type="text" placeholder="Arabic Name"  [(ngModel)]="this.shiftArr.Arname"  formControlName="Arname" required>
              </mat-form-field>

        </mat-card-content>
        <mat-card-actions *ngIf="this.button==null">
          <button mat-raised-button color="primary" [disabled]="!shiftForm.valid" (click)="createOrEditShift()">حفظ</button>
          <button mat-raised-button color="warn" (click)="clear()">Clear</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  </div>
</div>