<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['home']" >
    <mat-icon>home</mat-icon>
    الصفحة الرئيسية
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['companylist']" >
    <mat-icon>payment</mat-icon>
    الشركات
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['branchlist']" >
    <mat-icon>account_balance</mat-icon>
    الفروع
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['departmentlist']" >
    <mat-icon> business</mat-icon>
    الاقسام
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['joblist']">
    <mat-icon>chrome_reader_mode</mat-icon>

    الوظائف
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['buslist']" >
    <mat-icon> attach_money</mat-icon>

    البنوك
  </a>

  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['shiftlist']">
    <mat-icon> bar_chart</mat-icon>

    الورديات
  </a>

  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['PublicHolidaylist']">
    <mat-icon> bar_chart</mat-icon>

    الاجازات الرسميه
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['worktime']">
    <mat-icon> bar_chart</mat-icon>

    مواعيد العمل
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['listtransactionholiday']">
    <mat-icon> location_on</mat-icon>
    الاجازات 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['listtransactionerrned']">
    <mat-icon> location_on</mat-icon>
مأموريات  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['listtransactionpermission']">
    <mat-icon> location_on</mat-icon>
أذونات  </a>
<a mat-list-item routerLinkActive="list-item-active" [routerLink]="['leaves']">
  <mat-icon>note</mat-icon>
  Leaves
</a>
<!-- <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['Listtransaction']">
  <mat-icon>note</mat-icon>
  transactions
</a> -->
  
 <!--
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['locationlist']">
    <mat-icon> location_on</mat-icon>
    location
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['accountlist']">
    <mat-icon>account_box</mat-icon> Account
  </a>
  

  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['costlist']">
    <mat-icon>dns</mat-icon>Cost
  </a>

  
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['joblevellist']">
    <mat-icon>call_to_action</mat-icon>
    JobLevel
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['sectionlist']">
    <mat-icon>picture_in_picture</mat-icon>

    Section
  </a>

   <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['leavesTypes']">
    <mat-icon>note</mat-icon>
    Leaves Types
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['leavesRules']">
    <mat-icon>note</mat-icon>
    leaves Rules
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['leavesvacations']">
    <mat-icon>note</mat-icon>
    leaves vacations
  </a>

  

  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['addtransactions']">
    <mat-icon>note</mat-icon> add transactions
  </a> 
-->
 
 <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['employeelist']">
    <mat-icon>person</mat-icon>
    الموظفين
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['report']">
    <mat-icon>note</mat-icon>
    التقارير
  </a>
 
  
  <!-- 
  <a mat-list-item>
    
    <mat-icon>exit_to_app</mat-icon> Leaves
  </a>
  <a mat-list-item>
    <mat-icon>call_to_action</mat-icon>
    Transactions
  </a>
  <a mat-list-item>
    <mat-icon>compare_arrows</mat-icon>
    CheckinoutMob
  </a>
  <a mat-list-item>
    <mat-icon>dns</mat-icon>Atttables
  </a> -->

</mat-nav-list>

<mat-nav-list>
 
</mat-nav-list>